@model IEnumerable<ToolRental_FrontEnd.Models.CurrentRentedToolReport>

@{
	ViewBag.Title = "Current Rented Tool List Report";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Rented Tool List Report</h2>

@using (Html.BeginForm("GetCurrentRentalToolListReport", "Report", FormMethod.Get))
{
	@Html.Label("Search: ")
	<input type="text" id="criteria" name="criteria" />
	<input type="submit" value="Search" class="btn btn-success btn-med" />
}

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ToolName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Brand)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CustomerName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DateRented)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ToolName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Brand)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CustomerName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DateRented)
			</td>
		</tr>
	}

</table>

@using (Html.BeginForm("ExportRentedToolData", "Report"))
{
	<button name="button" style="width:128px; height:48px; font-weight:bold" title="Export">Export to CSV</button>
}

